$ColorTheme: #477A1E, #70B237, #8FCA5C, #61371F, #854F2B, #C28340;

@font-face {
    font-family: "Minecraft";
    src: url("./assets/font/Minecraft.woff") format('woff');
}

$Mc-Font: "Minecraft", sans-serif;